<!-- Button trigger modal for showing categories-->
<button type="button" class="btn btn-secondary float-end m-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Show Song Categories
</button>

<!-- Button trigger modal for adding or editing songs -->
<button type="button" class="btn btn-primary float-end m-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
    (click)="modalAdd()">
    Add Song
</button>

<table class="table table-striped">
    <thead>
        <th>ID</th>
        <th>Naziv Pjesme</th>
        <th>Naziv Izvodjaca</th>
        <th>Ocjena</th>
        <th>Favorit</th>
        <th>URL</th>
        <th>Kategorija</th>
    </thead>
    <tbody>
        <tr *ngFor="let song of songsList$|async">
            <td>{{song.id}}</td>
            <td>{{song.nazivPjesme}}</td>
            <td>{{song.nazivIzvodjaca}}</td>
            <td>{{song.ocjena}}</td>
            <td>{{song.isFavorite ? 'Da' : 'Ne'}}</td>
            <td> <a href='{{song.urlPjesme}}' target="_blank">{{song.urlPjesme}}</a> </td>
            <td>{{song.kategorija.nazivKategorije}}</td>

        </tr>
    </tbody>
</table>

<div class="alert alert-success" role="alert" id="add-success-alert">
    Song successfuly added!
</div>
<div class="alert alert-success" role="alert" id="update-success-alert">
    Song successfuly updated!
</div>
<div class="alert alert-success" role="alert" id="delete-success-alert">
    Song successfuly deleted!
</div>

<!-- Modal for showing categories -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Song Categories</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&#x2715;</span>
                </button>
            </div>
            <div class="modal-body">
                <p *ngFor="let category of categoryList$|async">{{category.id}} - {{category.nazivKategorije}}</p>
            </div>
        </div>
    </div>
</div>

<!-- Modal for adding or editing songs -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">{{modalTitle}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="modalClose()" id="add-edit-modal-close"></button>
            </div>
            <div class="modal-body">
                <app-add-edit-songs [song]="song" *ngIf="activateAddEditComponent"></app-add-edit-songs>
            </div>
        </div>
    </div>
</div>